<!-- Cabecalho principal  -->
<%- include('../partials/header') %>

<!-- Conteudo do index  -->
<main class="d-flex flex-column flex-fill text-center justify-content-center">
  <H1>Confirmação de Ação</H1>
<div class="w-50 mx-auto align-content-center bg-success" style="height: 300px;">
      

    <!-- se a pagina que chamou for de cadastro, mostrar a mensagem de cadastro realizado com sucesso, mostrando o nome do usuario que acabou de ser cadastrado -->
    <% if (tipo == "cadastro" && produto) { %>
  <h1 class="text-white">
    Cadastro de <%- produto.nome %> realizado com sucesso
  </h1>
<% } else if (tipo == "edicao" && produtoAtualizado) { %>
  <h1 class="text-white">
    Edição de <%- produtoAtualizado.nome %> confirmada
  </h1>
<% } else { %>
  <h1 class="text-white">
    Produto <%- deletado.produto %> deletado com sucesso
  </h1>
<% } %>


    <!-- criando botões para outras paginas -->
    <a href="/produtos">
         <button class="btn btn-lg btn-secondary mx-2">
           Voltar para lista de produtos
         </button>
      </a>

      <a href="/produtos/cadastrar">
         <button class="btn btn-lg btn-primary mx-2">
           Voltar para página de cadastro
         </button>
      </a>
   </div>
</main>

<!-- Rodape de todas as páginas  -->
<%- include('../partials/footer') %>